$fontFamily: "Roboto";
$fontFamilyAccent: "Italiana";
$fontFamilyAdditional: "Roboto Serif";

$maxWidthContainer: 1160px;

$colorMain: #be9b4e;
$colorAction: #9e7b2f;
$colorRed: #9E2F2F;
$colorFont: #171717;
