<div data-popup="feedback" class="popup">
    <button type="button" data-popup-close class="popup__close"></button>
    <form action="#" class="feedback-form">
        <p class="feedback-form__subtitle">Feedback von unseren Spezialisten</p>
        <div class="feedback-form__title">Lassen Sie sich beraten, jetzt gleich!</div>
        <div class="feedback-form__body">
            <div class="feedback-form__item">
                <input type="text" name="name" placeholder="Name" class="feeback-form__input input" />
            </div>
            <div class="feedback-form__item">
                <input type="text" name="surname" placeholder="Nachname" class="feeback-form__input input" />
            </div>
            <div class="feedback-form__item">
                <input type="email" name="email" placeholder="E-mail" class="feeback-form__input input" />
            </div>
            <div class="feedback-form__item">
                <input type="tel" name="phone" placeholder="Telefon" class="feeback-form__input input" />
            </div>
        </div>
        <button class="feedback-form__button button button--black">jetzt anfragen</button>
    </form>
</div>
