@font-face {
    font-family: IgraSans;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IgraSans.woff') format('woff'), url('../fonts/IgraSans.woff2') format('woff2');
}