.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: $maxWidthContainer;
    width: 100%;
}

.page {
    flex: 1 1 auto;
}
