.left-panel {
    padding: 0 calc($index * 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    background: #000;

    @media (max-width: 1500px) {
        display: none;
    }

    &__item {
        font-size: calc($index * 1.334);
        line-height: 1;
        letter-spacing: 2.8px;
        color: #fff;
        writing-mode: vertical-rl;
        white-space: nowrap;
        text-transform: uppercase;

        &:first-child {
            margin-top: -26px;
        }
    }
}
